 <div class="navbar-wagon">
      <!-- Logo -->
      <%= link_to "Madame Cocktail", root_path, class: "navbar-wagon-brand" %>

    <div class="navbar-wagon-right">
      <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item navbar-wagon-link fas fa-cocktail">
      <i class="fas fa-cocktail"></i>
      </div>
    </div>
</div>
