.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cocktail-card {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.1, 1.1, 1.1);

    &::after {
      opacity: 1;
    }
  }
}






.cocktail-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.cocktail-card-title {
  height: 40px;
  font-family: 'Kodchasan', sans-serif;
  padding-top: 5px;
  text-align: center;
}



.cocktail-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
  font-family: 'Kodchasan', sans-serif;
  text-align:center;
}


.cocktail-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.map {
  height: 350px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.map h1 {
  color: white;
  font-weight: bold;
  font-size: 80px;

}
